<!DOCTYPE html>
<html>
<head>
  <title>Energy Conservation</title>
  <title>Failure Page</title>
    <link rel="stylesheet" href="../static/navbar.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/energy.css">
</head>
<body>
  <div class="navbar">
    <img src="../static/logo.png">
<a href="{{ url_for('home') }}">Home</a>
<a href="{{ url_for('status') }}">Status</a>
<a href="{{ url_for('notifications') }}">Notifications</a>
<a href="{{ url_for('predictive') }}">Predictive Analysis</a>
<a href="{{ url_for('failure') }}">Failure Analysis</a>
<a href="{{ url_for('energy') }}">Energy Saving</a>
<a href="{{ url_for('analysis') }}">Data Analytics</a>

</div>

  <header>
    <h1 style="margin-top:5%;font-size:50px;text-align: center;">Energy Conservation Suggestions</h1>
  </header>
<div class="container">
  <section>
    <h2>Load Shedding</h2>
    
        <p> During peak demand hours , and during low solar supply we cut off the supply to the lower priority loads in the system to maximise power savings and efficiency. Load management automation based on real time consumption data ensures quick response times and reduces the burden on users to manually manage their energy consumption during peak demand periods.</p>
 
</section>  

<section>
    <h2> Standby Energy Conservation </h2>
   
    
       
            <p> It is important to be aware of standby power consumption, as many appliances continue to consume energy even when not actively in use. Using power strips or smart plugs to completely disconnect power to devices in standby mode can help minimize this energy waste and bring several benefits. Encouraging individuals to conduct energy audits at their premises can provide valuable insights into energy consumption patterns and identify areas for improvement. This self-assessment can help individuals make informed decisions about energy usage and prioritize energy-saving measures.</p>
    
</section>
</div>
<div class="container1">
<section>
    <h2> Prioritising Solar Power </h2>
   
    
       
            <p> Emphasizing the significance of utilizing solar energy during peak demand periods can optimize the use of renewable resources and minimize reliance on conventional energy sources. Designing load management systems to maximize the integration of solar energy during these periods can help alleviate the strain on the grid.</p>
    
</section>

<section>
    <h2> Optimisation based on Usage data</h2>
   
    
       
            <p> Encouraging individuals to conduct energy audits at their premises can provide valuable insights into energy consumption patterns and identify areas for improvement. This self-assessment can help make informed decisions about energy usage and prioritize energy-saving measures in the load management system</p>
    
</section>

</div>

  
</body>
</html>
