<!DOCTYPE html>
<head>
    <title>Failure Page</title>
    <link rel="stylesheet" href="../static/navbar.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/failure.css">
</head>
<body>   
        
    <div class="navbar">
        <img src="../static/logo.png">
    <a href="{{ url_for('home') }}">Home</a>
    <a href="{{ url_for('status') }}">Status</a>
    <a href="{{ url_for('notifications') }}">Notifications</a>
    <a href="{{ url_for('predictive') }}">Predictive Analysis</a>
    <a href="{{ url_for('failure') }}">Failure Analysis</a>
    <a href="{{ url_for('energy') }}">Energy Saving</a>
    <a href="{{ url_for('analysis') }}">Data Analytics</a>

</div>

        <h1 style="font-size:60px;font-weight:bolder;margin-top:5%;color:white;margin-left:20%">FAILURE ANALYSIS</h1>

        <div class="cylinder-container">
        <section>
            
            <h2 style="font-size:40px">Sensor Failure</h2>
            <ul>
                <li>
                    <h3 style="font-size:30px">Voltage and Current Sensors </h3>
                    <p class="cylinder-text">Voltage and Current sensors require proper calibration to provide accurate readings. If the sensors are not calibrated correctly, they may produce incorrect voltage measurements, leading to inaccurate decisions regarding power source switching.</p>
                </li>
                
                <li>
                    <h3 style="font-size:30px"> LDR (Light Dependant Resistor)</h3>
                    <p class="cylinder-text"> LDR may degrade over time due to wear and tear. This can lead to inaccurate light measurements, affecting the system's ability to accurately assess solar irradiation levels</p>
                </li>
                
            </ul>
        </section>
        </div>
        
        
        <div class="cylinder-container2">  
        <section>
            <h2 style="font-size:40px">Relay  Failure</h2>
            <p class="cylinder-text"> Relays can suffer wear and tear , which can cause a variety of issues like contact degradation . Relay Coil failure is also another potential error. The coil within a relay is responsible for the electromagnetic switching mechanism. When the coil fails, the relay may become unable to switch between power sources effectively, leading to improper power distribution and potential imbalances in load prioritization.</p>
        
        </section>
        </div>
        <div class="cylinder-container3">
        <section>
            <h2 style="font-size:40px"> Communication Errors</h2>
           
            <ul>
                <li>
                    <h3 style="font-size:30px"> Latency </h3>
                    <p class="cylinder-text"> Delays in network communication can disrupt the timely transmission of data and control signals, leading to inaccurate load management decisions and potentially causing imbalances in power distribution among different loads..</p>
                </li>
                <li>
                    <h3 style="font-size:30px"> Transmission Malfunction</h3>
                    <p class="cylinder-text"> Without appropriate error handling, malfunctions in data transmission can lead to inaccuracies in the readings of voltage sensors.  These inaccuracies can then propagate through the load management system, causing errors in load prioritization and potentially leading to improper power distribution.</p>
                </li>
                
            </ul>
        </section>
        </div>
        <div class="cylinder-container4">
        <section>
            <h2 style="font-size:40px"> Environmental Factors</h2>
           
            <ul>
                <li>
                    <h3 style="font-size:30px"> Overheating </h3>
                    <p class="cylinder-text"> Exposure to sunlight can cause overheating in the sensors . This can degrade the components , giving rise to inaccurate values.</p>
                </li>
                <li>
                    <h3 style="font-size:30px"> Exposure to Dust</h3>
                    <p class="cylinder-text"> Accumulation of dust on the surface of the solar panel reduces the effciency of the power conversion , reducing overall effciency of the system.</p>
                </li>
                <li>
                    <h3 style="font-size:30px"> Humidity </h3>
                    <p class="cylinder-text"> Humidity can cause corrosion leading to component degradation which can cause the sensors in the system to malfunction and can potentially be hazardous .</p>
                </li>
                
            </ul>
        </section>
        </div>
        
</body>
</html>